@import '../../../../styles/constants.scss';

.Header {
  background-color: white;
  height: 70px;
  max-height: 70px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}

.Avatar {
  border: 2px solid transparent;

  &:hover {
    border: 2px solid $mainBlue;
    cursor: pointer;
  }
}
