@import '../../../styles/constants.scss';

.EditorWrapper {
  padding: 1rem;
  border: 1px solid #ccc;
}

.Editor {
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 300px;
}

.EditorToolBar {
  border: 1px solid #ccc;
  background-color: $lightblue;
  color: black;
}
