@import '../../../styles/constants.scss';

.Grid {
  display: grid;
  grid-template-columns: 24% 76%;
  grid-template-rows: 1fr;
}

.SideBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1rem;
  border-right: 1px solid $gray;
  height: 100%;

  .MenuItem {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: $blackBlue;
    padding: 4px 14px;
    text-align: start;
    height: 42px;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      background-color: $secondGray;
      color: black;
      cursor: pointer;
    }
  }

  .ActiveMenuItem {
    width: 100%;
    outline: none;
    border: none;
    background-color: $whiteBlue;
    color: $mainBlue;
    padding: 4px 14px;
    text-align: start;
    height: 42px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
}
