@import '../../../styles/constants.scss';

.Container {
  width: 100%;
  background-color: white;
  padding: 1rem;
  padding-bottom: 0rem;
  margin: 1rem 0rem;

  h2 {
    font-size: 1.6rem;
    color: $mainBlack;
    margin: 0;
    font-weight: bold;
  }

  hr {
    margin-bottom: 1rem;
  }

  .CarouselSlide {
    width: 88%;
    margin: 0 auto;
    height: 400px;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    column-gap: 1.4rem;
  }
}
