@import '../../../styles/constants.scss';

.Container {
  width: 700px;
  // width: '100%';
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

.Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}

.ErrorMessege {
  color: rgb(218, 7, 7);
  font-size: 1rem;
  font-style: italic;
  font-family: $optionalFont;
  padding: 0.2rem;
  margin: 0;
}
