@import '../../../styles/constants.scss';

.DetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

  h3 {
    color: $linkBlue;
    font-weight: bold;
    border-bottom: 1px solid $secondGray;
    cursor: pointer;
  }

  .Details {
    width: 100%;

    h3 {
      color: $linkBlue;
      font-weight: normal;
      border-bottom: 1px solid $secondGray;
      cursor: pointer;
    }
  }

  table {
    border-collapse: collapse;
    margin: 0rem 1rem;
    width: 90%;

    tbody {
      tr {
        border-top: 1px solid $gray;

        td:first-child {
          background-color: $secondGray;
          color: $mainBlack;
        }

        td {
          padding: 8px;
        }
      }
    }
  }
}
