$darkBlue: #131a22;
// $grayBlue: #232f3e;
$mainOrange: #ff9900;
$errorMessege: #da0707;

$bigFont: 'Bebas Neue';
$regularFont: 'Roboto';
$optionalFont: 'Source Sans Pro';
$cursive: 'Lobster';

$mainBlack: #1c1c1c;
$blackBlue: #585757;

$mainBlue: #3167eb;
$mainBlueHover: #234cb4;
$secondBlue: #5a85ef;
$lightblue: #83a4f3;
$whiteBlue: #eaeffd;

$gray: #c7c7c7;
$strongGray: #adadad;
$secondGray: #e4e4e4;
